<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MobileStore.Properties.Settings.MobileStoreConnectionString"
            connectionString="Data Source=NETWORKZ-PC;Initial Catalog=MobileStore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>